@using Microsoft.AspNetCore.Http
@{
    var role = Context.Session.GetString("Role");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PHARMACY</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PHARMACY.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PHARMACY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="flex-column p-3 bg-light" style="width:200px; min-height:100vh;">
            <h5>Menu</h5>
            @{
                var rol = Context.Session.GetString("Role");
                if (rol == "Admin")
                {
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/Admin/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/Users/Index">Users</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/Medicines">Medicines</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/Orders/Index">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/Suppliers">Suppliers</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Account/Profile">Profile</a></li>
                        <form method="post" asp-page="/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link text-start">
                                Logout
                            </button>
                        </form>

                    </ul>
                }
                else if (rol == "Customer")
                {
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/Customer/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Customer/Medicines/Index">Medicines</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Customer/Orders/Index">My Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Account/Profile">Profile</a></li>
                        <form method="post" asp-page="/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link text-start">
                                Logout
                            </button>
                        </form>

                    </ul>
                }
                else if (rol == "Supplier")
                {
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/Supplier/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Supplier/Order/Index">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Account/Profile">Profile</a></li>
                        <form method="post" asp-page="/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link text-start">
                                Logout
                            </button>
                        </form>

                    </ul>
                }
                else if (rol == "Pharmacist")
                {
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/Pharmacist/Index">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Pharmacist/Medicines/Index">Medicines</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Pharmacist/SupplierOrders/SupplierOrders">Supplier Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Pharmacist/CustomerFeedback/Index">Customer Feedbacks</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Account/Profile">Profile</a></li>
                        <form method="post" asp-page="/Account/Logout">
                            <button type="submit" class="nav-link btn btn-link text-start">
                                Logout
                            </button>
                        </form>

                    </ul>
                }
            }
        </nav>

        <!-- Prevent back button after logout -->
        @* <script>
            window.addEventListener("pageshow", function (event) {
                if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                    window.location.replace("/Account/Logout");
                }
            });
        </script> *@


        <main class="flex-fill p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PHARMACY - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
