@page

<h2>Pharmacist Dashboard</h2>

<a asp-page="/Pharmacist/Orders/CustomerOrders" class="btn btn-primary">
    Customer Orders
</a>

<a asp-page="/Pharmacist/Orders/Create" class="btn btn-success">
    Create Supplier Order
</a>
